{{!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Document</title>
</head>
<body>

<tbody> --}}
{{!-- <div style="display: flex;"> --}}
        <h1>Lista de produtos</h1>

    {{#each produtos}}
    <div>
      
    <h4 style="margin: 0px;" id="productId" name="productId">Id: {{id_produto}} </h4><a href="/updateProduct/{{id_produto}}"><button id="buttonChange" style="margin-left: 500px;">Editar produto</button></a>
   <a href="/delProduct/{{id_produto}}"><button type="submit" id="buttonDelete" style="margin-left: 500px;">Deletar produto</button></a><br> 
    </div>
    <h4 style="margin: 0px;" id="productName" name="productName">Nome: {{nome_produto}}</h4><br>
    <h4 style="margin: 0px;" id="productDesc" name="productDesc">Descrição: {{descricao_produto}}</h4><br>
    <h4 style="margin: 0px;" id="productPrice" name="productPrice">Preço: {{preco_produto}}</h4><br>
    <h4 style="margin: 0px;" id="productQuantity" name="productQuantity">Quantidade: {{quantidade_produto}}</h4><br>
<hr>
            {{!-- <tr>
    <td scope="row" style="margin-left: 150px;"></h3>
    <td scope="row" style="margin-left: 150px;"></h3>
    <button type="submit" id="buttonChange" style="margin-left: 150px;">Editar produto</button>
    <button type="submit" id="buttonDelete" style="margin-left: 150px;">Deletar produto</button>
</tr>    --}}
{{/each}}
{{!-- </div>
</tbody>
    <script src="/src/js/app.js">
    </script>
</body>
</html> --}}