
        <h1>Lista de produtos</h1>

    {{#each produtos}}
    <div>
      
    <h4 style="margin: 0px;" id="productId" name="productId">Id: {{id_produto}} </h4><a href="/updateProduct/{{id_produto}}"><button id="buttonChange" style="margin-left: 500px;">Editar produto</button></a>
   <a href="/delProduct/{{id_produto}}"><button type="submit" id="buttonDelete" style="margin-left: 500px;">Deletar produto</button></a><br> 
    </div>
    <h4 style="margin: 0px;" id="productName" name="productName">Nome: {{nome_produto}}</h4><br>
    <h4 style="margin: 0px;" id="productDesc" name="productDesc">Descrição: {{descricao_produto}}</h4><br>
    <h4 style="margin: 0px;" id="productPrice" name="productPrice">Preço: {{preco_produto}}</h4><br>
    <h4 style="margin: 0px;" id="productQuantity" name="productQuantity">Quantidade: {{quantidade_produto}}</h4><br>
<hr>
  
{{/each}}
